@page "/Enderecos"
@inject EnderecoAPI enderecoAPI

<h3>Enderecos</h3>

@if (enderecos is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Numero</th>
                <th>Complemento</th>
                <th>CEP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var endereco in enderecos)
            {
                <tr>
                    <td>@endereco.Logradouro</td>
                    <td>@endereco.Numero</td>
                    <td>@endereco.Complemento</td>
                    <td>@endereco.CEP</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ICollection<ReadEnderecoDto>? enderecos;

    protected override async Task OnInitializedAsync()
    {
        enderecos = await enderecoAPI.ListarEnderecosAsync();
    }
}
